:root {
}

body, html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  background: var(--neutral);
  height: 100%;
  width: 100%;
}

.main {
  width: 90%;
  margin: 0 auto;
  background: var(--neutral);
}

.round-border {
  border-radius: 0.5em;
}

.section {
  width: 100%;
  background: var(--subtle);
  padding: 1em;
  margin: 1em auto;
}